<div class="container">
    <img src="assets/pizarronG.png" alt="Pizarrón" class="board">
    <div class="tutorial-content">
        <h1>BIENVENIDO A ESTE TUTORIAL SOBRE<br>"NÚMEROS EN LAS NUBES"</h1>
        <p>AL INICIAR LA PARTIDA PODRÁS VER UN PIZARRÓN CON UNA SUCESIÓN DE NÚMEROS Y TRES OPCIONES PARA ESCOGER. TÚ TENDRÁS QUE IDENTIFICAR CUÁL ES EL PATRÓN Y SELECCIONAR LA RESPUESTA CORRECTA EN CADA NIVEL.</p>
        <div class="main-content">
            <div class="pizarronP-wrapper">
                <img src="assets/pizarronP.png" alt="Pizarrón Pequeño" class="pizarronP">
            </div>
            <div class="options-message-wrapper">
                <div class="options">
                    <button class="option green">5</button>
                    <button class="option">6</button>
                    <button class="option">7</button>
                </div>
                <div class="message">
                    <p>SI ACIERTAS PODRÁS AVANZAR HASTA EL SIGUIENTE NIVEL</p>
                </div>
            </div>
        </div>
        <div class="buttons">
            <button class="play-button" (click)=" goPagina1()">YA TENGO CUENTA</button>
            <button class="next-button" (click)=" goPagina2()">REGISTRARME</button>
        </div>
    </div>
    <img src="assets/globoAzul.png" alt="Globo Azul" class="balloon blue">
    <img src="assets/globoCafe.png" alt="Globo Rojo" class="balloon red">
    <img src="assets/globoNaranja.png" alt="Globo Naranja" class="balloon orange">
    <img src="assets/globoRosa.png" alt="Globo Rosa" class="balloon pink">
</div>
