<div class="container">
    <img src="assets/pizarronG.png" alt="Pizarrón" class="board">
    <div class="login-content">
        <h1>BIENVENIDO<br>NÚMEROS EN LAS NUBES</h1>
        <div class="login-form">
            <label for="nickname">NICKNAME</label>
            <input type="text" id="nickname" placeholder="Ingresa aquí tu alias">
            <label for="password">CONTRASEÑA</label>
            <input type="password" id="password" placeholder="Ingresa aquí tu contraseña">
            <div class="button-container">
                <button class="play-button">JUGAR</button>
                <button class="how-to-play-button" (click) = "goPagina3()">¿CÓMO JUGAR?</button>
                
                <button class="create-account-button" (click)=" goPagina2()">CREAR UNA CUENTA</button>
               
            </div>
        </div>
    </div>
    <img src="assets/globoAzul.png" alt="Globo Azul" class="balloon blue">
    <img src="assets/globoCafe.png" alt="Globo Rojo" class="balloon red">
    <img src="assets/globoNaranja.png" alt="Globo Naranja" class="balloon orange">
    <img src="assets/globoRosa.png" alt="Globo Rosa" class="balloon pink">
</div>
